@import url("./reset.css");

/* Your CSS Here */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, footer {
    background-color: #9370db;
    padding: 1rem;
    text-align: center;
    color: whute;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    background-color: #3cb371;
}

.articles {
    background-color: #FF6347;
    color: white;
    padding: 20px;
    flex: 1;
}

.articles-container {
    display: flex;
    flex: 3;
    gap: 20px;
}

aside {
    background-color: #4682B4;
    padding: 20px;
    flex: 1;
}

footer {
    background-color: #FF8C00;
    color: white;
    padding: 20px;
}



@media (min-width: 768px) {
    main {
        flex-direction: row;
        align-items: stretch;
    }

    .articles {
        flex: 3;
        flex-direction: column;
    }

    aside {
        flex: 1;
        order: -1; 
    }
}
