@import url("./reset.css");

/* Your CSS Here */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, footer {
    background-color: orange;
    padding: 1rem;
    text-align: center;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.articles {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    background-color: lightgreen;
    padding: 1rem;
}

article {
    background-color: pink;
    flex: 1;
    padding: 1rem;
    text-align: center;
}

aside {
    background-color: lightblue;
    padding: 1rem;
    text-align: center;
}

@media (min-width: 768px) {
    main {
        flex-direction: row;
        align-items: stretch;
    }

    .articles {
        flex: 3;
        flex-direction: column;
    }

    aside {
        flex: 1;
        order: -1; 
    }
}
